@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center col-md-12">
    <h1>Bem-vindo a Econobuy!</h1>
    <p class="lead">Texto</p>
</div>

<div class="row text-center">
    <div class="col-md-4 ">
        <h2>Cliente</h2>
        <p>
            Login Cliente
        </p>
        <p><a>@Html.ActionLink("Login", "Index", "Cliente", new { area = "" }, new { @style = "color: white; text-decoration:none; ", @class = "btn btn-lg btn-primary" })</a></p>
    </div>
    <div class="col-md-4 ">     
    </div>
    <div class="col-md-4 ">
        <h2>Mercado</h2>
        <p>Login Mercado</p>
        <p><a>@Html.ActionLink("Login", "Index", "Mercado", new { area = "" }, new { @style = "color: white; text-decoration:none; ", @class = "btn btn-lg btn-warning" })</a></p>
    </div>
</div>